<template>
  <div class="container">
    <h1 class="title">Pingr</h1>
    <div class="content">
      <form action="" name="contact" method="post" @submit.prevent>
        <InputField v-model="user.email" inputName="email" inputType="text" 
          :validation="validateEmail" placeholder="betao@gmail.com"/>
        <InputField v-model="user.password" inputName="password" inputType="password"
          :validation="validatePassword" tooltip="Password should have between 8 and 32 alphanumeric characters"/>
        <InputField v-model="user.username" inputName="username" inputType="username"
          :validation="validateUsername" placeholder="betao"
          tooltip="Only alphanumeric characters. Can't start with a number"/>
        <div class="buttons-group">
          <button class="form-button" @click="clearInputs" > Clear </button>
          <button class="form-button" @click="register"> Submit </button>
        </div>
      </form>
    </div>
    <div class="redirect">
      <p>Already an user? </p>&nbsp;<a href="/sign-in">Sign-in now!</a>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      user: {
        email: '',
        password: '',
        username: '',
      },
      shouldValidate: false,
      errorMessage: '',
    }
  },
  computed: {
    users() {
      return this.$store.state.users
    },
    validateInputs() {
      return (
        this.validateEmail.isValid &&
        this.validatePassword.isValid &&
        this.validateUsername.isValid
      )
    },
    validateEmail() {
      if (this.shouldValidate) {
        const regexp = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 

        if (this.user.email.length === 0) {
          return { isValid: false, message: "email can't be empty!" }
        } else if (!regexp.test(this.user.email.toLowerCase())) {
          return { isValid: false, message: "Email is invalid!" }
        } else if (this.errorMessage) {
          return { isValid: false, message: this.errorMessage }
        } else {
          return { isValid: true }
        }
      } else {
        return { isValid: true };
      }
    },
    validatePassword() {
      if (this.shouldValidate) {
        const regexp = /^[a-z0-9]{8,32}$/i

        if (this.user.password.length === 0) {
          return { isValid: false, message: "password can't be empty!"}
        } else if (!regexp.test(this.user.password)) {
          return { isValid: false, message: "Password is invalid! Please check password rules" }
        } else {
          return { isValid: true }
        }
      } else {
        return { isValid: true };
      }
    },
    validateUsername() {
      if (this.shouldValidate) {
        const regexp = /^[a-z]{1}[a-z0-9]*$/i

        if (this.user.username.length === 0) {
          return { isValid: false, message: "username can't be empty!"}
        } else if (!regexp.test(this.user.username)) {
          return { isValid: false, message: "Password is invalid! Please check password rules" }
        } else {
          return { isValid: true, message: "" }
        }
      } else {
        return { isValid: true };
      }
    }
  },
  methods: {
    clearInputs() {
      this.user = {
        email: '',
        password: '',
        username: '',
      };
      this.shouldValidate = false
      this.errorMessage = ''
    },
    async register() {
      this.$nuxt.$loading.start();
      this.errorMessage = ''
      this.shouldValidate = true;
      const data = {
        email: this.user.email,
        password: this.user.password,
        username: this.user.username,
      }

      try {
        if (this.validateInputs) {
          const response = await this.$axios.$post('/register', data);
          console.log({response})
          this.$store.commit('users/add', response);

          // 'Eu nao queria baixar uma lib so pra isso' energy
          const jwt = JSON.parse(window.atob(response.accessToken.split('.')[1]));
          this.$router.push({ path: `/users/${jwt.sub}`});
        }
      } catch (err) {
        this.errorMessage = err.response.data;
      } finally {
        this.$nuxt.$loading.finish();
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.finish();
    })
  }
}
</script>