<template>
  <img class="user-img" :src="imgUrl" />
</template>

<script>
export default {
  computed: {
    imgUrl() {
      const baseUrl = 'https://avataaars.io/?avatarStyle=Transparent';
      const queryParams = ['topType', 'accessoriesType', 'facialHairType', 'facialHairColor', 'clotheType', 'eyeType', 'eyebrowType', 'mouthType', 'skinColor'];

      return queryParams.reduce((url, field) => {
        const options = this.map[field]
        return `${url}&${field}=${options[Math.floor(Math.random() * options.length)]}`
      }, baseUrl);
    }
  },
  data() {
    return {
      map: {
        topType: [
          'NoHair', 'Eyepatch', 'Hat', 'Hijab', 'Turban', 'WinterHat1', 'WinterHat2', 'WinterHat3', 'WinterHat4', 'LongHairBigHair', 'LongHairBob', 'LongHairBun', 
          'LongHairCurly', 'LongHairCurvy', 'LongHairDreads', 'LongHairFrida', 'LongHairFro', 'LongHairFroBand', 'LongHairNotTooLong', 'LongHairShavedSides', 'LongHairMiaWallace',
          'LongHairStraight', 'LongHairStraight2', 'LongHairStraightStrand', 'ShortHairDreads01', 'ShortHairDreads02', 'ShortHairFrizzle', 'ShortHairShaggyMullet', 'ShortHairShortCurly',
          'ShortHairShortFlat', 'ShortHairShortRound', 'ShortHairShortWaved', 'ShortHairSides', 'ShortHairTheCaesar', 'ShortHairTheCaesarSidePart'
        ],
        accessoriesType: [ 'Blank', 'Kurt', 'Prescription01', 'Prescription02', 'Round', 'Sunglasses', 'Wayfarers' ],
        hairColor: [ 'Auburn', 'Black', 'Blonde', 'BlondeGolden', 'Brown', 'BrownDark', 'PastelPink', 'Platinum', 'Red', 'SilverGray' ],
        facialHairType: [ 'Blank', 'BeardMedium', 'BeardLight', 'BeardMajestic', 'MoustacheFancy', 'MoustacheMagnum' ],
        facialHairColor: [ 'Auburn', 'Black', 'Blonde', 'BlondeGolden', 'Brown', 'BrownDark', 'Platinum', 'Red' ],
        clotheType: [ 'BlazerShirt', 'BlazerSweater', 'CollarSweater', 'GraphicShirt', 'Hoodie', 'Overall', 'ShirtCrewNeck', 'ShirtScoopNeck', 'ShirtVNeck' ],
        eyeType: [ 'Close', 'Cry', 'Default', 'Dizzy', 'EyeRoll', 'Happy', 'Hearts', 'Side', 'Squint', 'Surprised', 'Wink', 'WinkWacky' ],
        eyebrowType: [ 
          'Angry', 'AngryNatural', 'Default', 'DefaultNatural', 'FlatNatural', 'RaisedExcited', 'RaisedExcitedNatural', 'SadConcerned',
          'SadConcernedNatural', 'UnibrowNatural', 'UpDown', 'UpDownNatural' 
        ],
        mouthType: [ 'Concerned', 'Default', 'Disbelief', 'Eating', 'Grimace', 'Sad', 'ScreamOpen', 'Serious', 'Smile', 'Tongue', 'Twinkle', 'Vomit' ],
        skinColor: [ 'Tanned', 'Yellow', 'Pale', 'Light', 'Brown', 'DarkBrown', 'Black' ],
      }
    }
  }
}
</script>
