<template>
  <div class="field-group" :class="{ 'invalid-field': validation && !validation.isValid }" >
    <div class="field-label">
      <span v-if="validation" class="error-msg"> {{ validation.message }} </span>
      {{ inputName }}
    </div>
    <input
      id="email" :value="value" :placeholder="placeholder" 
      @input="$emit('input', $event.target.value)" :name="inputName"
      :type="inputType" class="input" :class="{ 'has-tooltip' : tooltip }"
    />
    <span v-if="tooltip" class="tooltip">{{ tooltip }}</span>
  </div>
</template>

<script>

export default {
  props: {
    inputName: String, 
    placeholder: String,
    inputType: String,
    tooltip: String,
    validation: Object,
    value: String,
  },
}
</script>

<style>
.invalid-field .input {
  @apply border border-red-500;
}

.invalid-field .field-label {
  @apply italic;
}

.error-msg {
  @apply text-red-500 italic absolute px-1 -mt-6 text-sm font-semibold;
}

.tooltip {
  @apply absolute invisible;
  @apply bg-purple-200 max-w-md;
  @apply text-purple-800 font-semibold text-sm;
}

.has-tooltip:focus + .tooltip {
  @apply -mt-16 ml-36 z-50;
  @apply visible;
}
</style>