.container {
  @apply bg-mytheme-lighter flex flex-col items-center justify-center max-w-full p-10;
}

.content {
  @apply flex items-center w-auto;
}

.field-group {
  @apply flex px-3 py-3 justify-between items-center;
  @apply text-purple-900 text-lg;
}

.field-group input {
  @apply w-7/12 border border-mytheme-darker rounded;
}

.buttons-group {
  @apply flex items-center justify-between px-5 my-3;
}

.buttons-group button {
  @apply bg-purple-200 shadow-md border border-purple-800 rounded-md w-20 py-0.5 transition-colors duration-200 ease-in-out;
}

.buttons-group button:hover {
  @apply bg-purple-600 text-white;
}

.redirect {
  @apply text-base text-purple-900 flex;
}

.redirect a {
  @apply underline font-semibold;
}

.title {
  @apply text-3xl font-bold text-mytheme-dark mb-8 mt-10;
}