<template>
  <div class="container">
    <h1 class="title">Pingr</h1>
    <div class="error-msg" v-if="errorMessage"> {{ errorMessage }} </div>
    <div class="content">
      <Avatar/>
      <div class="user-info">
        <div class="field-group">
          <label for="email" class="form-label"> {{ user.email }} </label>
        </div>
        <div class="field-group">
          <label for="password" class="form-label"> {{ user.username }} </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      user: {
        email: '',
        username: ''
      },
      errorMessage: ''
    }
  },
  async fetch() {
  },
  computed: {
    users() {
      return this.$store.state.users.list;
    },
  },
  async mounted() {
    console.log(this.users)
    if (this.users.length) {
      // Try every available access token. Stop on first valid
      // slice(0) -> to copy original array
      const loggedUser = await this.users.slice(0).reduce(async (user, e, i, arr) => {
        if (user) {
          arr.splice(1);
        } else {
          try {
            const jwt = e.accessToken;
            const authString = `Bearer ${jwt}`;

            const userId = JSON.parse(window.atob(jwt.split('.')[1])).sub;
            const user = await this.$axios.$get(`/600/users/${userId}`, {
              headers: { 'Authorization': authString }
            });
            // If access token matches id from path, user is valid
            if (this.$route.params.id.toString() === user.id.toString()) {
              return user;
            } else {
              return null;
            }
          } catch (err) {
            this.errorMessage = err.response.data;
            return null;
          }
        }
      }, null);

      this.user = {
        email: loggedUser?.email,
        username: loggedUser?.username
      }
    } else {
      this.$router.push({ path: '/sign-up'});
    }
  }
}
</script>

<style>

.user-img {
  @apply w-28 h-28 m-5;
  @apply border shadow-lg border-purple-900;
  @apply transition-transform duration-300;
}

.user-img:hover {
  @apply scale-150;
}

.user-info {
  @apply flex flex-col;
}

.field-group label {
  @apply w-auto;
}

.error-msg {
  @apply text-red-500 font-semibold text-xl;
  @apply mb-8;
}

</style>